################################
# ROS2 / Colcon
################################
build/
install/
log/

################################
# Python
################################
__pycache__/
*.pyc
*.pyo
*.egg-info/

################################
# C / C++
################################
*.o
*.so
*.out

################################
# IDEs
################################
.vscode/
.idea/
*.code-workspace

################################
# OS Files
################################
.DS_Store
Thumbs.db

################################
# Firmware / Embedded
################################
*.bin
*.elf
*.hex

